body {
    background: #EFEFF2;
    margin: 0;
    color: #19191C;;
    font: 400 18px/28px Inter, sans-serif;
}
.container {
    width: 1440px;
    margin: 0 auto;
}
.header {
    display: flex;
    padding: 36px 240px;
    justify-content: space-between;
}
.header-box {
    display: flex;
    align-items: center;
    gap: 68px;
}
.nav-list {
    display: flex;
    list-style: none;
    gap: 48px;
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
}
.link {
    color:#19191C;
    text-decoration: none;

}
.btn-box {
    display: flex;
    gap: 48px;
    align-items: center;
}
.logo {
    font-size: 24px;
    font-weight: 800;
    line-height: 30px;
    display: flex;
    align-items: center;
    gap: 14px;
    color:#19191C;
    text-decoration: none;
}
.header-link {
    color: #19191C;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    text-decoration: none;
}
.header-btn {
    background: #19191C;
    color: #EFEFF2;
    padding: 12px 37px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    text-decoration: none;
}
.offer {
    display: flex;
    justify-content: space-between;
}
.offer-holder {
    width: 648;

}
.offer-title {
    font-size: 58px;
    font-weight: 700;
    line-height: 70px;
    text-align: left;
}
.footer {
    background: #19191C;
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 100px;
    align-items: center;
    padding: 68px 240px 0;
    width: 1440px;
}
.copyright {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color:#6D6D77;
    display: flex;
    align-items: center;
    gap: 28px;
}
.privacy-policy {
    text-decoration: none;
    color: #6D6D77;
}
.footer-box {
    display: flex;
    justify-content: space-between;
}
.footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.logo-inv {
    color: #FBFBFC;
    font-size: 18px;
    font-weight: 800;
    line-height: 22px;
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    margin-bottom: 20px;
}
.footer-link {
    color: #FBFBFC;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    text-decoration: none;
}
.sitemap-box {
    display: flex;
    gap: 200px;
}
.sitemap-title {
    color: #FBFBFC;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    margin: 0;
}
.sitemap-list {
    display: flex;
    gap: 12px;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
}
.footer-list-link {
    color: #FBFBFC;
    text-decoration: none;
}